*.o
*.exe
.vscode/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
doc/help/Makefile
doc/help/Makefile.in
doc/help/css/Makefile
doc/help/css/Makefile.in
doc/help/imagenes/Makefile
doc/help/imagenes/Makefile.in
extra/.deps/
extra/Makefile
extra/Makefile.in
icons/Makefile
icons/Makefile.in
install-sh
man/Makefile
man/Makefile.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
extra/rakconvert
extra/rakgit2new
extra/rakverb
extra/rakverb2
src/rakarrack
