*.o
*.exe
*~
build/
gcc64/
src/config.h
.vscode/
msvc64/
mingw64/

# Autotools artifacts
autom4te.cache/
config.log
config.status
stamp-h1
src/stamp-h1
src/rakarrack
src/.deps/
src/Makefile
src/Makefile.in
Makefile
Makefile.in
data/Makefile
data/Makefile.in
doc/Makefile*
extra/Makefile
extra/Makefile.in
extra/.deps/
extra/rakconvert
extra/rakgit2new
extra/rakverb
extra/rakverb2
icons/Makefile
icons/Makefile.in
man/Makefile
man/Makefile.in
