name: Build on Linux

on: [push, pull_request]
env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential cmake pkg-config \
          gcc-14 g++-14 \
          qt6-base-dev \
          libjack-jackd2-dev \
          libfftw3-dev \
          libsamplerate0-dev \
          libsndfile1-dev \
          libasound2-dev \
          nlohmann-json3-dev

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_C_COMPILER=gcc-14 -DCMAKE_CXX_COMPILER=g++-14

    - name: Build
      run: cmake --build build
